@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");

:root {
  --main-text-color: #222;
  --main-bc-color: #eee;
  --main-card-color: #ddd;
  --main-box-shadow: #bbb;
}

* {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-weight: 400;
}

body {
  background-color: var(--main-bc-color);
}

h1 {
  font-size: 2.2rem;
  height: 35vh;
  text-align: center;
  transform: translateY(10vh);
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
  margin: 0 5vw;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.activity {
  font-size: 1rem;
  height: 20vh;
  border-radius: 0.5rem;

  background-color: var(--main-card-color);
  box-shadow: 0px 0px 20px 1px var(--main-box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2vw;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

#btn-to-load {
  margin: 5vh auto;
  display: block;
  height: 10vh;
  min-width: 200px;
  width: 20vw;
  font-size: 2rem;
  border-radius: 0.5rem;
  box-shadow: -8px 8px 5px 2px var(--main-box-shadow);
  border-color: var(--main-box-shadow);
}

#btn-to-load:active {
  box-shadow: inset -8px 8px 5px 2px #bbb;
  transform: translateX(-8px) translateY(8px);
}
